@media (max-width: 767px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        padding-top: 32px;

        &__input {
            display: none;
        }
    }

    .menu {
        display: none;

        &-mob {
            display: block;
            display: flex;
            gap: 32px;
            align-items: center;
        }
    }

    .logo__img {
        width: 99px;
    }

    .title {
        font-size: 48px;
        line-height: 59px;
        text-align: center;
    }

    .top {
        &__text {
            text-align: center;
            font-size: 16px;
        }

        &__link {
            display: flex;
            justify-content: center;
            font-size: 14px;
        }
    }

    .upper__title {
        font-size: 24px;
        margin-top: -32px;
    }

    .for {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;

        &__item {
            grid-column: 1 / -1;
            height: 373px;
            font-size: 28px;
            line-height: 34px;

            &_big {
                height: 243px;
            }
        }
    }

    .product {
        width: 393px;
    }

    .product-box {
        padding-top: 32px;
    }

    .product__catalog {
        margin-top: 36px;
    }

    .product__title {
        font-size: 24px;
    }

    .footer {
        padding-bottom: 32px;

        &__content {
            justify-content: center;
            gap: 34px;
        }

        &__info {
            gap: 100px;
        }
    }

    .select {
        padding-top: 16px;
    }

    .cart__img {
        display: none;
    }

    .cart__text {
        font-size: 12px;
    }

    .cart__button-box {
        display: flex;
        gap: 16px;
        justify-content: center;
    }

    .cart__button {
        width: 166px;
        font-size: 12px;
    }

    .cart__form {
        align-self: center;
    }

    .promotions {
        font-size: 24px;
    }

}